/* --------------- START OF BASE -------------------- */

:root {
    box-sizing: border-box;
    font-size: 1em;


    /* Variables */
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-text-cyan: hsl(167, 40%, 24%);
    --primary-text-dark-blue: hsl(198, 62%, 26%);
    --primary-footer-cyan: hsl(168, 34%, 41%);

    --neutral-dark-blue: hsl(212, 27%, 19%);
    --neutral-dark-very-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);

    --font-heading: 'Fraunces';
    --font-text: 'Barlow';

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    max-width: 1540px;
    margin: 0 auto;

    /*Fonts*/
    font-family: var(--font-text);

}

.heading {
    margin: 0;
    font-size: 2.2rem;
    font-family: var(--font-heading);
    font-weight: 900;
}

.description {
    font-size: 1.2rem;
    color: var(--neutral-dark-grayish-blue);
    line-height: 1.8em;
    font-weight: 600;
    text-align: justify;
}

.logo {
    width: 170px;
    height: 33px;
}

.button--primary {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: black;
}

.button--primary::after {
    display: block;
    content: "";
    width: auto;
    height: 10px;
    opacity: .35;
    border-radius: 1.8em;
    margin-top: -.5em;
}

/* -------------- END OF BASE --------------- */

/* ------------------ START OF HEADER ----------------- */

.header {
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.2em 2.6em;
    position: relative;
}

.menu {
    margin: 0;
}

.nav-menu {
    margin: 0;
    display: flex;
}

.nav-menu > li {
    list-style-type: none;
}

.nav-menu > li + li {
    margin-left: 4em;
}

.nav-menu > li > a {
    text-decoration: none;
    color: var(--neutral-white);
    font-size: 1.2em;
}

.nav-menu > li > a.button {
    padding: 1em 2em;
    background-color: var(--neutral-white);
    border-radius: 1.8em;
    color: black;
    text-transform: uppercase;
    transition: .2s all ease;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-menu > li > a.button:hover {
    background-color: #77CDF5;
    color: white;
}

.decoration {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.decoration > .decoration--heading {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--neutral-white);
    letter-spacing: 9px;
    font-size: 3.5em;
    text-align: center;
    white-space: nowrap;
}

.decoration > .decoration--arrow {
    height: 107px;
    width: 30px;
    margin-top: 4em;
}

/* --------- START Mobile Behaviour ----------  */

.button--toggle {
    background-color: transparent;
    outline: none;
    border: none;
    display: none;
}

.backdrop {
    display: none;
}

.menu.is-open .nav-menu {
    display: flex;
    visibility: visible;
}

.menu.is-open .backdrop {
    display: block;
}

@media (max-width: 54em) {
    :root {
        font-size: .875em;
    }

    .heading {
        font-size: 2rem;
    }

    .header {
        background-image: url("images/mobile/image-header.jpg");
    }

    .nav-menu {
        display: none;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5em auto;
        padding-left: 0;
    }

    .nav-menu > li + li {
        margin-left: 0;
        margin-top: 3em;
    }

    .nav-menu > li:last-child {
        margin-top: 5em;
        margin-bottom: 3em;
    }

    .nav-menu > li > a {
        color: var(--neutral-dark-grayish-blue);
    }

    .nav-menu > li > a.button {
        background-color: var(--primary-yellow);
    }

    .menu-dropdown {
        position: fixed;
        top: 6em;
        right: 3em;
        left: 2.8em;
        bottom: auto;
        background-color: var(--neutral-white);
        display: block;
        border-radius: 3em;
        z-index: 2;
    }

    .button--toggle {
        display: block;
    }

    .decoration {
        top: 19em;
    }

    .decoration .decoration--heading {
        font-size: 3em;
        white-space: initial;
    }


}

/* BACKDROP */

.backdrop {
    position: fixed;
    top: 6em;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

/* END OF BACKDROP */


/* --------- END MOBILE BEHAVIOUR  ---------- */


/* ------------- END OF HEADER ---------------- */


/* ------------- START OF MAIN -------------------- */
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-tile {
    min-height: 600px;
    padding: 9em 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.main-tile--image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.main-tile--blend {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding: 2.7em 8em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.main-tile--join {
    min-height: 100vh;
    padding: 9em;
    grid-column: 1 / 3;
    text-align: center;
}

.main-tile--join__heading {
    font-size: 1.2em;
    font-family: var(--font-heading);
    color: var(--neutral-dark-grayish-blue);
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 5em;
}

.main-tile--two-images {
    display: flex;
    min-height: 447px;
}

.main-tile--image.image__1 {
    background-image: url("images/desktop/image-transform.jpg");
}

.button--primary__yellow::after {
    background-color: var(--primary-yellow);
}

.main-tile--image.image__2 {
    background-image: url("images/desktop/image-stand-out.jpg");
}

.button--primary__red::after {
    background-color: var(--primary-soft-red);
}

.main-tile--blend.blend__1 {
    background-image: url("images/desktop/image-graphic-design.jpg");
}

.main-tile--blend.blend__2 {
    background-image: url("images/desktop/image-photography.jpg");
}

/* ---- OVERWRITE the base class ---- */

.main-tile--blend .heading {
    color: var(--primary-text-cyan);
    font-size: 2rem;
}

.main-tile--blend .description {
    color: #3E7467;
    text-align: center;
}

/* ---------- END OVERWRITE ------------------ */


/* ---------------- Card Components -------------- */

.card-wrapper {
    display: flex;
}

.card-wrapper > .card + .card {
    margin-left: 2em;
}

.card {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card > img {
    border-radius: 50%;
}

.card > .comments {
    font-size: 1.1em;
    color: #5B636D;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    margin: 3em auto 4em;
}

.card > .name {
    font-family: var(--font-heading);
    font-weight: 900;
    color: black;
    font-size: 1.2em;
}

.card > .role {
    color: #A7AAAD;
    font-size: .9em;
    margin-top: -.6em;
}

/* -------------- END of Card Component ----------*/

.image_flex {
    min-height: 100%;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.two_image--1 {
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

.two_image--2 {
    background-image: url("images/desktop/image-gallery-orange.jpg");
}

.two_image--3 {
    background-image: url("images/desktop/image-gallery-cone.jpg");
}

.two_image--4 {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}


/* --------- START Mobile Behaviour ----------  */

@media (max-width: 54em) {
    :root {
        font-size: .875em;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .main-tile {
        padding: 7rem 4rem;
        min-height: 315px;
        text-align: center;
        align-items: center;
    }

    .main-tile.order__1 {
        order: -1;
    }

    .main-tile--image.image__1 {
        order: -2;
    }

    .main-tile .description {
        text-align: center;
        margin: 3em auto;
    }

    .main-tile--two-images {
        min-height: 188px;
    }


    .main-tile--join {
        grid-column: initial;
        padding: 7rem 4rem;
    }

    .main-tile--join .card-wrapper {
        flex-direction: column;
    }

    .main-tile--join .card-wrapper .card + .card {
        margin-left: 0;
        margin-top: 5em;
    }

    .card .comments {
        margin-bottom: 1em;
    }
}

/* ---------- END OF MOBILE BEHAVIOUR ----------- */

/* ------------- END OF MAIN ---------------------- */

/* ------------- START OF FOOTER ---------------------- */

.footer {
    min-height: 350px;
    color: var(--primary-footer-cyan);
    background-color: #90D4C6;
    padding: 4em 2em .5em;
    text-align: center;
}

.footer--wrap {
    text-align: center;
}

.footer--logo {
    font-family: var(--font-heading);
    font-weight: 900;
    color: #2C7566;
    font-size: 2.5em;
    text-align: center;
}

.footer--link {
    margin-top: 2.5em;
}

.footer--link > ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.footer--link > ul > li {
    list-style-type: none;
}

.footer--link > ul > li > a {
    text-decoration: none;
    color: var(--primary-footer-cyan);
    font-size: 1.2em;
}

.footer--link > ul > li + li {
    margin-left: 3.5em;
}

.footer--link.footer--link__social {
    margin: 5em auto 1em;
}

.footer--link.footer--link__social > ul > li + li {
    margin-left: 1.8em;
}

/* ------------- END OF FOOTER ---------------------- */

